@import url("profile.css");
@import url("profile_popup.css");
@import url("style_base.css");
@import url("auth.css");
@import url("home.css");
@import url("header.css");
@import url("chitiettintuc.css");
@import url("news_list.css");
