.btn {
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}
.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
.btn-add {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}
.btn-add:hover {
  background-color: #218838;
}

.btn-edit {
  background-color: #ffc107;
  color: black;
  margin-right: 10px;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn_back {
  background-color: #6c757d;
  color: white;
}

.btn-OK {
  background: #007bff;
  color: #fff;
}
.btn-OK:hover {
  background: #0069d9;
}

.btn-Cancel {
  background-color: #dc3545;
  color: white;
}
.btn-Cancel:hover {
  background-color: #c82333;
}

.btn-group-center {
  display: flex;
  justify-content: center; /* căn giữa ngang */
  gap: 15px; /* khoảng cách giữa 2 nút */
  margin-top: 30px;
}
