.admin-back {
  margin: 20px;
  font-size: 32px;
  text-decoration: none;
  color: #007bff;
}

.admin-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.admin-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Ép tất cả các con trực tiếp cao bằng nhau */
  margin-bottom: 10px;
  gap: 15px;
}

.admin-form {
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  padding: 40px;
  border-radius: 6px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #007bff;
}
small.form-hint {
  font-size: 13px;
  color: blue;
  margin-top: 4px;
}
.admin-avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
  border: 3px solid #007bff;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  padding: 15px;
  border: 1px solid #c3e6cb;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  animation: fadeOut 3s forwards; /* Tự ẩn sau 3 giây */
  animation-delay: 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
