table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 20px;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
.ads-image {
  text-align: center;
}

.ads-image img {
  width: 100px;
  height: auto;
  border-radius: 4px;
}
